@import "../assets/scss/mixin";
@import "../assets/scss/nav";

body {
  @include webkit;
}
.pd-home {
  padding-top: 116px;
  background-color: white;
  padding-bottom: 50px;

  &.btheme {
    background-color: #000000;
  }

  .top {
    width: 85%;
    max-width: 1140px;
    margin: auto;
    padding-bottom: 67px;
    &.extra{
      @include mq(768px) {
        padding-bottom: 40px;
      }
    }
    .intro {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      .text {
        h1 {
          font-weight: bold;
          font-size: 75px;
          line-height: 106.9%;
          color: #000000;
          @include mq(650px) {
            font-size: 50px;
          }
          @include mq(500px) {
            font-size: 40px;
          }
          @include mq(400px) {
            font-size: 30px;
          }
          &.bthemeT {
            color: #ffffff;
          }
        }
      }
      ul {
        @include mq(768px) {
          display: none;
        }
        color: #1a1a1a;
        &.bthemeT {
          color: #ffffff;
        }
        li {
          list-style-type: none;

          text-align: right;
          font-weight: 600;
          font-size: 18px;
          margin-bottom: 17px;

          &:hover {
            color: $red;
          }
          // width: 70px;
        }
      }
    }
    .prop {
      margin-top: 24px;
      ul {
        color: #1a1a1a;
        &.bthemeT {
          color: #ffffff;
        }
        li {
          list-style-type: none;
          font-weight: 700;
          font-size: 27px;
          line-height: 106.9%;
          margin-bottom: 19px;

          @include mq(400px) {
            font-size: 18px;
          }
        }
      }
    }
  }
  .pic {
    width: 100%;
    margin: auto;
    height: 450px;
    @include mq(768px) {
      height: 300px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .about {
    margin: auto;
    margin-top: 110px;
    width: 85%;
    max-width: 1140px;
    padding-bottom: 135px;
    @include mq(768px) {
      padding-bottom: 0px;
    }

    p.first,div.first
    p.second {
      font-weight: 700;
      width: 80%;
      font-size: 24px;
      line-height: 49px;
      /* or 49px */
      color: $black;
      img,figure{
        display: none;
      }
      @include mq(768px) {
        font-size: 15px;
        width: 100%;
        line-height: 30px;
      }
      &.bthemeT {
        color: #ffffff;
      }
    }
    p.first {
      margin-bottom: 23px;
    }
    .resume {
      width: 200px;
      margin-top: 57px;
      @include mq(768px) {
        width: 130px;
      }
    }
  }
  .work {
    width: 100%;
    padding-top: 81px;
    padding-bottom: 139px;
    &.extra{
      @include mq(768px) {
        padding-top: 20px;
      }
    }
    &.bg {
      background-color: #dedede;
    }
    .coverWork {
      width: 85%;
      margin: auto;
      max-width: 1140px;
      .heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom:69px;
        @include mq(768px) {
          font-size: 18px;
          margin-bottom: 40px;
        
        }
        .topic{
          margin-bottom: 0;
        }
        .see{
          color: $red;
          font-size: 36px;
          @include mq(768px) {
            font-size: 18px;
          
          }
        }
      }
      .workDiv {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        @include mq(768px) {
          flex-direction: column;
        }
        .eachWork {
          width: 47%;
          .imageDiv {
            width: 100%;
            height: 280px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
      
            margin-bottom: 15px;
            @include mq(768px) {
              height: 170px;
            }
          }
          .title {
            font-weight: 600;
            font-size: 36px;
            margin-bottom: 15px;
            color: $black;
            @include mq(768px) {
              font-size: 20px;
            }
          }
          .aboutT {
            font-weight: 500;
            font-size: 24px;
            line-height: 39px;
            margin-bottom: 15px;
            @include mq(768px) {
              font-size: 15px;
              line-height: 29px;
            }
          }
          @include mq(768px) {
            width: 100%;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
  .blog {
    width: 100%;
    padding-top: 63px;
    padding-bottom: 78px;
    &.extra{
      @include mq(768px) {
        padding-top: 20px;
      }
    }
   
    .coverBlog{
      width: 85%;
      max-width: 1140px;
      margin: auto;
      margin-top: 30px;
      .heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom:69px;
        @include mq(768px) {
          font-size: 18px;
          margin-bottom: 40px;
        
        }
        .topic{
          margin-bottom: 0;
        }
        .see{
          color: $red;
          font-size: 36px;
          @include mq(768px) {
            font-size: 18px;
          
          }
        }
      }
      .allBlog{
        display: flex;
        flex-direction: column;
        width: 100%;
       
      }
    }
   
    &.bg {
      background-color: #dedede;
    }
    .eachBlog {
      margin-bottom: 39px;
      width: 400px;
      @include mq(768px) {
        width: 250px;
      }
      &:first-child {
        margin-top: 20px;
      }
    }
  }
}

.linkTo {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3px;
  border-bottom: 3px solid $red;
  @include mq(768px) {
    width:100% ;
  }
  .tt {
    font-size: 30px;
    color: $red;
    font-weight: 300;
    @include mq(768px) {
      font-size: 18px;
    }
    &.bthemeT {
      color: #ffffff;
    }
    &.grey{
      color: $black;
    }
  }
  img {
    width: 36px;
    @include mq(768px) {
      width: 25px;
    }
  }
}


.switch {
  position: relative;
  display: inline-block;
  float: right;
  width: 28px;
  height: 16px;
}
.switch2 {
  position: relative;
  display: inline-block;
  float: right;
  width: 28px;
  height: 16px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.switch2 input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider,.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid $black;
  -webkit-transition: .4s;
  transition: .4s;
}



.slider:before,.slider2:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 4px;
  bottom: 4px;
  border: 1px solid $black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  // background-color: #2196F3;
  border: 1px solid #ffffff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffffff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
  border: 1px solid #ffffff;
}

input:checked + .slider2:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
 
}

/* Rounded sliders */
.slider.round,.slider2.round {
  border-radius: 34px;
}

.slider.round:before,.slider2.round:before {
  border-radius: 50%;
}


.oneBlog{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 66px;
  @include mq(768px) {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .imgBox{
    width: 48%;
    height: 350px;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include mq(768px) {
      width: 100%;
      margin-bottom: 20px;
      height: 250px;
    }
  }
  .textSide{
    width: 48%;
    @include mq(768px) {
      width: 100%;
    }
    .name{
      font-weight: 700;
      width: 80%;
      font-size: 36px;
      line-height: 49px;
      /* or 49px */
      color: $black;
      margin-bottom: 21px;
      @include mq(768px) {
        font-size: 20px;
        width: 100%;
        line-height: 30px;
      }
      &.bthemeT {
        color: #ffffff;
      }
    }
    .description{
      font-weight: 700;
      font-size: 24px;
      line-height: 49px;
      /* or 49px */
      color: $black;
      margin-bottom: 72px;
      @include mq(768px) {
        font-size: 15px;
    margin-bottom: 50px;
        line-height: 30px;
      }
    }
  }

}