*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: 'Epilogue', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: inherit;
}

.topic {
  font-weight: bold;
  font-size: 40px;
  line-height: 106.9%;
  /* or 80px */
  color: #0b0b0b;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .topic {
    font-size: 20px;
  }
}

.topic.bthemeT {
  color: #ffffff;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: 'Epilogue', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: inherit;
}

.topic {
  font-weight: bold;
  font-size: 40px;
  line-height: 106.9%;
  /* or 80px */
  color: #0b0b0b;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .topic {
    font-size: 20px;
  }
}

.topic.bthemeT {
  color: #ffffff;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.icon-active {
  position: relative;
}

.icon-active::after {
  content: "";
  position: absolute;
  top: -1px;
  right: 0px;
  height: 6px;
  width: 6px;
  background-color: #ff1111;
  border-radius: 50%;
}

.nav {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0px 2px 8px rgba(5, 38, 105, 0.1);
            box-shadow: 0px 2px 8px rgba(5, 38, 105, 0.1);
    padding: 1rem 2rem;
    position: relative;
    inset: 0;
    z-index: 10;
    position: fixed;
    top: 0;
    background-color: white;
    height: 50px;
  }
}

.nav .drop-down-wrap {
  position: relative;
}

.nav .drop-down-wrap .drop-down {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 8px rgba(5, 38, 105, 0.1);
          box-shadow: 0px 2px 8px rgba(5, 38, 105, 0.1);
  background-color: white;
  -webkit-clip-path: inset(0 0 100% 0);
          clip-path: inset(0 0 100% 0);
  -webkit-transition: -webkit-clip-path 0.4s ease;
  transition: -webkit-clip-path 0.4s ease;
  transition: clip-path 0.4s ease;
  transition: clip-path 0.4s ease, -webkit-clip-path 0.4s ease;
}

.nav .drop-down-wrap .drop-down.show-drop-down {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

@media screen and (max-width: mobile) {
  .nav .drop-down-wrap .drop-down {
    min-width: 120px;
    right: 0;
    left: unset;
    -webkit-transform: unset;
            transform: unset;
  }
}

.nav .drop-down-wrap .drop-down button,
.nav .drop-down-wrap .drop-down a,
.nav .drop-down-wrap .drop-down p {
  width: 100%;
  display: block;
  color: color(primary);
  margin-bottom: 0.7rem;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 15px;
  padding: 0;
}

.nav .drop-down-wrap .drop-down button:last-child,
.nav .drop-down-wrap .drop-down a:last-child,
.nav .drop-down-wrap .drop-down p:last-child {
  margin-bottom: 0;
}

.nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav .nav-ctrl-btn {
  display: none;
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 768px) {
  .nav .nav-ctrl-btn {
    display: block;
  }
}

.nav .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav .nav-left img {
  width: 20px;
}

.nav .nav-left .round-btn {
  margin: 0;
  margin-right: 0.5rem;
}

.nav img.logo {
  width: 80px;
  height: 35px;
}

@media screen and (max-width: 768px) {
  .nav img.logo {
    width: 65px;
    height: 30px;
  }
}

.nav .nav_link {
  margin: 0 1rem;
  font-weight: 500;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .nav_link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .nav .nav_link {
    width: 100%;
    padding: 0.6em 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 1rem;
    margin: 0.5rem 0;
  }
}

.nav .drop-down-wrap {
  margin-left: 2rem;
}

.nav .profile-icon {
  padding: 0.6rem;
  color: color(primary);
}

.nav .profile-icon img {
  width: 18px;
  height: 18px;
  border-radius: 5px;
}

.nav .profile-icon p {
  font-size: 13px;
  margin-left: 0.5rem;
}

@media screen and (max-width: 768px) {
  .nav .profile-icon p {
    display: none;
  }
}

.nav .profile-icon svg {
  margin-left: 1rem;
}

.nav ul.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .nav ul.nav_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: absolute;
    inset: 0;
    -webkit-box-shadow: 0px 2px 8px rgba(5, 38, 105, 0.1);
            box-shadow: 0px 2px 8px rgba(5, 38, 105, 0.1);
    top: 50px;
    background-color: white;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 20;
    padding: 0 1.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: -webkit-clip-path 0.4s ease;
    transition: -webkit-clip-path 0.4s ease;
    transition: clip-path 0.4s ease;
    transition: clip-path 0.4s ease, -webkit-clip-path 0.4s ease;
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  .nav ul.nav_list.nav-opened {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

.nav ul.nav_list .nav-ctrl-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.nav .icon-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .nav .icon-list-wrap a {
    margin: 0rem 0.5rem;
  }
  .nav .icon-list-wrap a span {
    display: none;
  }
}

.nav .btn-wrap {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav .btn-wrap .btn {
  margin: 0 0.5rem;
  font-weight: 500;
  min-width: unset;
  padding: 8px 16px;
  font-size: 0.9rem;
  height: auto;
}

@media screen and (max-width: 768px) {
  .nav .btn-wrap .btn {
    margin: 0;
    margin-left: 0.5rem;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .nav .btn-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 1rem;
  }
}

.userimg {
  width: 24px;
  height: 24px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #f0f2f3;
}

body::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: #8198b1;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #8198b1;
}

.pd-home {
  padding-top: 50px;
  background-color: white;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .pd-home {
    padding-top: 88px;
  }
}

.pd-home.btheme {
  background-color: #000000;
}

.pd-home .top {
  width: 85%;
  max-width: 1140px;
  margin: auto;
  padding-bottom: 67px;
}

@media screen and (max-width: 768px) {
  .pd-home .top {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .pd-home .top.extra {
    padding-bottom: 40px;
  }
}

.pd-home .top .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pd-home .top .intro .text h1 {
  font-weight: bold;
  font-size: 65px;
  line-height: 106.9%;
  color: #000000;
}

@media screen and (max-width: 650px) {
  .pd-home .top .intro .text h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 500px) {
  .pd-home .top .intro .text h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 400px) {
  .pd-home .top .intro .text h1 {
    font-size: 30px;
  }
}

.pd-home .top .intro .text h1.bthemeT {
  color: #ffffff;
}

.pd-home .top .intro ul {
  color: #1a1a1a;
}

@media screen and (max-width: 768px) {
  .pd-home .top .intro ul {
    display: none;
  }
}

.pd-home .top .intro ul.bthemeT {
  color: #ffffff;
}

.pd-home .top .intro ul li {
  list-style-type: none;
  text-align: right;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 17px;
}

.pd-home .top .intro ul li:hover {
  color: #D00000;
}

.pd-home .top .prop {
  margin-top: 30px;
}

.pd-home .top .prop ul {
  color: #1a1a1a;
}

.pd-home .top .prop ul.bthemeT {
  color: #ffffff;
}

.pd-home .top .prop ul li {
  list-style-type: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 106.9%;
  margin-bottom: 19px;
}

@media screen and (max-width: 400px) {
  .pd-home .top .prop ul li {
    font-size: 18px;
  }
}

.pd-home .pic {
  width: 100%;
  margin: auto;
  height: 450px;
}

@media screen and (max-width: 768px) {
  .pd-home .pic {
    height: 300px;
  }
}

.pd-home .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pd-home .about {
  margin: auto;
  margin-top: 50px;
  width: 85%;
  max-width: 1140px;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .pd-home .about {
    padding-bottom: 20px;
    width: 95%;
  }
}

.pd-home .about p.first,
.pd-home .about div.first p.second {
  font-weight: 700;
  width: 95%;
  font-size: 18px;
  line-height: 49px;
  /* or 49px */
  color: #1A1A1A;
}

.pd-home .about p.first .twitter-tweet,
.pd-home .about div.first p.second .twitter-tweet {
  padding-left: 15px;
  border-left: 2px solid red;
}

.pd-home .about p.first img,
.pd-home .about p.first figure,
.pd-home .about div.first p.second img,
.pd-home .about div.first p.second figure {
  width: 100% !important;
}

@media screen and (max-width: 768px) {
  .pd-home .about p.first img,
  .pd-home .about p.first figure,
  .pd-home .about div.first p.second img,
  .pd-home .about div.first p.second figure {
    display: none;
  }
}

.pd-home .about p.first a,
.pd-home .about div.first p.second a {
  text-decoration: underline;
}

.pd-home .about p.first ul,
.pd-home .about p.first ol,
.pd-home .about div.first p.second ul,
.pd-home .about div.first p.second ol {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .pd-home .about p.first ul,
  .pd-home .about p.first ol,
  .pd-home .about div.first p.second ul,
  .pd-home .about div.first p.second ol {
    margin-left: 0px;
  }
}

.pd-home .about p.first iframe,
.pd-home .about div.first p.second iframe {
  width: 100% !important;
}

@media screen and (max-width: 768px) {
  .pd-home .about p.first,
  .pd-home .about div.first p.second {
    font-size: 14px;
    width: 100%;
    line-height: 30px;
  }
}

.pd-home .about p.first.bthemeT,
.pd-home .about div.first p.second.bthemeT {
  color: #ffffff;
}

.pd-home .about p.first {
  margin-bottom: 18px;
}

.pd-home .about .resume {
  width: 200px;
  margin-top: 27px;
}

@media screen and (max-width: 768px) {
  .pd-home .about .resume {
    width: 130px;
  }
}

.pd-home .work {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .pd-home .work.extra {
    padding-top: 20px;
  }
}

.pd-home .work.bg {
  background-color: #dedede;
}

.pd-home .work .coverWork {
  width: 85%;
  margin: auto;
  max-width: 1140px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .pd-home .work .coverWork {
    width: 95%;
  }
}

.pd-home .work .coverWork .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 39px;
}

@media screen and (max-width: 768px) {
  .pd-home .work .coverWork .heading {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

.pd-home .work .coverWork .heading .topic {
  margin-bottom: 0;
}

.pd-home .work .coverWork .heading .see {
  color: #D00000;
  font-size: 26px;
}

@media screen and (max-width: 768px) {
  .pd-home .work .coverWork .heading .see {
    font-size: 18px;
  }
}

.pd-home .work .coverWork .workDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .pd-home .work .coverWork .workDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.pd-home .work .coverWork .workDiv .eachWork {
  width: 47%;
  margin-bottom: 35px;
}

@media screen and (max-width: 768px) {
  .pd-home .work .coverWork .workDiv .eachWork {
    width: 100%;
  }
}

.pd-home .work .coverWork .workDiv .eachWork .imageDiv {
  width: 100%;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 35px;
}

@media screen and (max-width: 768px) {
  .pd-home .work .coverWork .workDiv .eachWork .imageDiv {
    height: 170px;
  }
}

.pd-home .work .coverWork .workDiv .eachWork .title {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 15px;
  height: 40px;
  color: #1A1A1A;
}

@media screen and (max-width: 768px) {
  .pd-home .work .coverWork .workDiv .eachWork .title {
    font-size: 20px;
    height: unset;
  }
}

.pd-home .work .coverWork .workDiv .eachWork .aboutT {
  font-weight: 500;
  font-size: 18px;
  line-height: 39px;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .pd-home .work .coverWork .workDiv .eachWork .aboutT {
    font-size: 14px;
    line-height: 29px;
  }
}

@media screen and (max-width: 768px) {
  .pd-home .work .coverWork .workDiv .eachWork {
    width: 100%;
    margin-bottom: 60px;
  }
}

.pd-home .blog {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .pd-home .blog.extra {
    padding-top: 20px;
  }
}

.pd-home .blog .coverBlog {
  width: 85%;
  max-width: 1140px;
  margin: auto;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .pd-home .blog .coverBlog {
    width: 95%;
  }
}

.pd-home .blog .coverBlog .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 39px;
}

@media screen and (max-width: 768px) {
  .pd-home .blog .coverBlog .heading {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

.pd-home .blog .coverBlog .heading .topic {
  margin-bottom: 0;
}

.pd-home .blog .coverBlog .heading .see {
  color: #D00000;
  font-size: 26px;
}

@media screen and (max-width: 768px) {
  .pd-home .blog .coverBlog .heading .see {
    font-size: 18px;
  }
}

.pd-home .blog .coverBlog .allBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.pd-home .blog.bg {
  background-color: #dedede;
}

.pd-home .blog .eachBlog {
  margin-bottom: 39px;
  width: 400px;
}

@media screen and (max-width: 768px) {
  .pd-home .blog .eachBlog {
    width: 250px;
  }
}

.pd-home .blog .eachBlog:first-child {
  margin-top: 20px;
}

.linkTo {
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3px;
  border-bottom: 3px solid #D00000;
}

@media screen and (max-width: 768px) {
  .linkTo {
    width: 100%;
  }
}

.linkTo .tt {
  font-size: 20px;
  color: #D00000;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .linkTo .tt {
    font-size: 18px;
  }
}

.linkTo .tt.bthemeT {
  color: #ffffff;
}

.linkTo .tt.grey {
  color: #1A1A1A;
}

.linkTo img {
  width: 26px;
}

@media screen and (max-width: 768px) {
  .linkTo img {
    width: 25px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  float: right;
  width: 28px;
  height: 16px;
}

.switch2 {
  position: relative;
  display: inline-block;
  float: right;
  width: 28px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch2 input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider,
.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #1A1A1A;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before,
.slider2:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 4px;
  bottom: 4px;
  border: 1px solid #1A1A1A;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  border: 1px solid #ffffff;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #ffffff;
          box-shadow: 0 0 1px #ffffff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
  border: 1px solid #ffffff;
}

input:checked + .slider2:before {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round,
.slider2.round {
  border-radius: 34px;
}

.slider.round:before,
.slider2.round:before {
  border-radius: 50%;
}

.oneBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 66px;
}

@media screen and (max-width: 768px) {
  .oneBlog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 60px;
  }
}

.oneBlog .imgBox {
  width: 48%;
  height: 288px;
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .oneBlog .imgBox {
    width: 100%;
    margin-bottom: 20px;
    height: 250px;
  }
}

.oneBlog .textSide {
  width: 48%;
}

@media screen and (max-width: 768px) {
  .oneBlog .textSide {
    width: 100%;
  }
}

.oneBlog .textSide .name {
  font-weight: 700;
  width: 80%;
  font-size: 27px;
  line-height: 49px;
  /* or 49px */
  color: #1A1A1A;
  margin-bottom: 18px;
}

@media screen and (max-width: 768px) {
  .oneBlog .textSide .name {
    font-size: 20px;
    width: 100%;
    line-height: 30px;
  }
}

.oneBlog .textSide .name.bthemeT {
  color: #ffffff;
}

.oneBlog .textSide .description {
  font-weight: 700;
  font-size: 18px;
  line-height: 49px;
  /* or 49px */
  color: #1A1A1A;
  margin-bottom: 30px;
}

.oneBlog .textSide .description.bthemeT {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .oneBlog .textSide .description {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 30px;
  }
}

/* preloader */
.pre-loader {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
}

.pre-loader.close {
  -webkit-animation: closeLoader 0.5s 2s linear forwards;
          animation: closeLoader 0.5s 2s linear forwards;
}

@-webkit-keyframes closeLoader {
  from {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
    display: none;
  }
}

@keyframes closeLoader {
  from {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
    display: none;
  }
}

.pre-loader #wrap {
  position: relative;
  width: 200px;
  height: 200px;
  text-align: center;
  overflow: hidden;
  padding: 1rem;
}

.pre-loader .svg {
  /* width: 100%;
  
  height: 100%; */
  -webkit-animation: translateSvg 0.8s ease forwards;
          animation: translateSvg 0.8s ease forwards;
  stroke-width: 1;
  color: white;
  fill: transparent;
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
}

/* .pre-loader path{
  fill: white !important;
} */
@-webkit-keyframes svgFill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
    stroke-width: 0;
  }
}
@keyframes svgFill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
    stroke-width: 0;
  }
}

@-webkit-keyframes translateSvg {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes translateSvg {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.pre-loader .line {
  z-index: 120;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background-color: white;
  animation: load 1s 2s infinite linear alternate-reverse;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0) translateX(150px);
          transform: scaleX(0) translateX(150px);
}

@-webkit-keyframes load {
  from {
    -webkit-transform: scaleX(0) translateX(-150px);
            transform: scaleX(0) translateX(-150px);
  }
  to {
    -webkit-transform: scaleX(1) translateX(150px);
            transform: scaleX(1) translateX(150px);
  }
}

@keyframes load {
  from {
    -webkit-transform: scaleX(0) translateX(-150px);
            transform: scaleX(0) translateX(-150px);
  }
  to {
    -webkit-transform: scaleX(1) translateX(150px);
            transform: scaleX(1) translateX(150px);
  }
}
